.root{
    -fx-background-color: #4dff3b;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-size: 25px;
}
.label{
    -fx-background-color: crimson;
    -fx-font-size: 20px;
    -fx-font-family: "Adobe Devanagari";
}
#special-label{
    -fx-font-size: 40px;
}